* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    background-image: url(images/blurry-gradient-haikei.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family : inherit;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.main-container h1 {
    text-align: center;
}

.game-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 2px solid #2b008e;
    padding: 2rem;
}

.box-container {
    box-sizing: content-box;
    display: flex;
    width: 600px;
    height: 600px;
    flex-wrap: wrap;
    border: 5px solid #2b008e;
    background-color: white;
}

.box {
    border: 0.5px solid #ddd;
}